#Footer{
    background-color:#07125C;
    border-radius:15px;
  }
  #button-email{
    background-color:#C9C917;
    border-radius:15px;
    border: 1px solid #C9C917;
  }
  
  #links{
  background-color:#07125C;
  border-radius: 15px;
  }
  
  .footer-img{
    width: 2em;
    height: 2em;
  }
  .footer-img:hover{
  box-shadow: 1px 1px 3px 1px #db7b76;
  border-radius:30%;
  }
  .Notification{
    padding: 0;
    word-wrap: break-word;
  }
  .Notification-link{
    color: rgb(19, 42, 170);
  }
  .img-fluid{
    border-radius: 30px;
    box-shadow: 2px 3px 3px 3px black;
  }