@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Vazir.woff2") format("woff2"),
      url("../fonts/Vazir.woff") format("woff"),
      url("../fonts/Vazir.ttf") format("truetype");
  
  }
  @font-face{
      font-family: "Btitr";
      src:url(../fonts/BTITRBD.eot) format('eot'),
      url(../fonts/BTITRBD.woff) format('woff'),
      url(../fonts/BTITRBD.ttf) format('truetype');
  }
  @font-face{
      font-family: "Bkoodak";
      src:url(../fonts/BKOODB.eot) format('eot'),
          url(../fonts/BKOODB.woff) format('woff'),
          url(../fonts/BKOODB.ttf) format('truetype');
  }
*, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    background: url('../img/bg.png');   
    font-family: 'Vazir';
  }
  a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
            transition: .5s ease;
  }
  a:hover {
    color: #179b77;
  }
  .form {
    background: rgb(247 247 247 / 77%);
    padding: 40px;
    max-width: 450px;
    margin:90px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    border-radius: 40px;

  }
  /*تگ های مربوط به ظاهر منویهای ثبت نام و ورود */
  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  .tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #af868ab4;
    color: #000000;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
            transition: .5s ease;
  }
  .tab-group li a:hover {
    background: #dc3545;
    color: #000000;
  }
  .tab-group .active a {
    background: #dc3545;
    color: #000000;
  }
  /*تگ مربوط به ظاهر عنوان به صورت رایگان ثبت نام کنید */
  h1 {
    text-align: center;
    color: #000000;
    font-weight: 300;
    margin: 0 0 40px;
  }
  /*تگ های مربوط به فیلدهای ثبت نام */
  label {
    position: absolute;
    -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
            transform: translateY(6px);
    left: 13px;
    color: rgba(32, 2, 2, 0.61);
    -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
  }
  label .req {
    margin: 2px;
    color: #dc3545;
  }
  label.active {
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
  label.active .req {
    opacity: 0;
  }
  label.highlight {
    color: #0e0202;
  }
  input, textarea {
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #110202;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
            transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #dc3545;
  }
  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }
  .field-wrap {
    position: relative;
    margin-bottom: 20px;
  }
  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .top-row > div:last-child {
    margin: 0;
  }
  /*تگ مربوط به ظاهر کلید ثبت نام */
 
  button.btn.btn-sm.circle-rounded {
    background: #ff7600;
    border-radius: 10px;
    float: right;
    margin-right: 40%;
}
.Get-code{
    background: #ff7600;
    border-radius: 10px;
    float: right;
    margin-right: 45%;
}
button:hover{
    background: #e66d03;
    box-shadow: 1px 1px 1px 1px #00000085;
}
  .button-block {
    display: block;
    width: 100%;
  }
  p{
    text-align: justify;
  }
  .Forgot-password{
    width: 100%;
  }
  .Forgot-password a{
    margin-right:37%;
    color: rgb(104, 5, 5);
  }
  .Forgot-password a:hover{
    text-decoration: none;
    color: rgb(1, 56, 42);
  }
  .sticker{
    margin-right:50px;
  }
 .btn-singin {
  background: #ff7600;
  border-radius: 10px;
  float: right;
  margin-right: 45%;
}
.back{
 
  background: #dc3545;
  color: rgb(104, 5, 5);
  border-radius: 10px;
}
 .back:hover{
   text-decoration: none;
   color: rgb(1, 56, 42);
 }
 #login{
   margin-left: 25%;
 }
  @media screen and (max-width:678px){
    .form {      
     margin: 30% 15px;
     
    }
  }
    